  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'hobbiton.png' %>)">
  <div class="container">
    <h1>The Lord of the cocktails</h1>
    <p>Come in for a taste of the best cocktails in middle earth</p>
    <%= link_to "See cocktails", cocktails_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
